<!--ABOUT-->
<section class="burger bg-gradient" id="about"  >
    <div id="particles-js"></div> 
    <div class="container" style="z-index: 5">
        <h1 class="mb5 wow fadeInUp text-center" data-wow-delay=".5s" data-wow-duration="1s">About</h1>
        <div class="row">
            <ul class="about wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
                <li class="about-list">
                <p>ProximaX KYC is an app built on ProximaX Sirius, an Integrated and Distributed Ledger Technology (IaDLT). 
                </p>
                </li>
                <li class="about-list" >
                <p>The peer-to-peer and distributed nature of the solution makes ProximaX KYC a highly sophisticated solution that leverages upon an agglomeration of proven technologies using Blockchain-Storage-Streaming-Database System-Consensus components.
                </p>
                </li>
                <li class="about-list">
                <p>The dynamics within ProximaX KYC has in itself an expansive utility for market adoption that is flexible and can be used for other applications that are not strictly KYC per se, such as user data gathering and registration, and identity management. 
                </p>
                </li>
                <li class="about-list">
                <p>ProximaX KYC can assist your staff with performing their due
                    diligence checks efficiently, securely, and in a cost-effective manner, whether it is for verifying identity or ascertaining source
                    of wealth.
                </p>
                </li>
                <li class="about-list">
                <p>The app is available as a white-label product, meaning it can be
                    rebranded to make it appear as your own, and integrated as an add-on
                    feature to your existing application. Its inbuilt form-builder and APIs
                    for third-party RegTech integration means it can be easily and quickly
                    customised for cross-industry use.
                </p>
                </li>
            </ul>
        </div>
    </div>
    </section>