<section id="earlyaccess" class="works clearfix">
    <div class="container">
        <div class="row">
            <div class="sec-title text-center" >
                <h2 style="color:#fff;" >Public Chain Rollout Early Access</h2>
            </div>
            
            <div class="sec-sub-title text-center" >
                <p style="color:#d2fbfc;">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
            </div>
            
            <div class="work-filter wow fadeInRight animated" data-wow-duration="500ms">
                <ul class="text-center">
                    <li><a href="javascript:;" data-filter=".nodes" class="active filter">Test Network Nodes</a></li>
                    <li><a href="javascript:;" data-filter=".sdk" class="filter">SDKs</a></li>
                    <li><a href="javascript:;" data-filter=".bounty" class="filter">Projects and Bounty Programs</a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="project-wrapper">
                <figure class="mix work-item nodes">
                    <img src="img/works/item-1.jpg" alt="">
                    <figcaption class="overlay">
                        <!-- <a class="fancybox" rel="works" href="#"><i class="fa fa-download fa-lg"></i></a> -->
                        <a href="#"><i class="fa fa-arrow-right"></i></a>
                        <!-- <h4>BLOCKCHAIN</h4> -->
                        <p>Description</p>
                        
                    </figcaption>
                </figure>
                
                <figure class="mix work-item nodes">
                    <img src="img/works/item-2.jpg" alt="">
                    <figcaption class="overlay">
                        <!-- <a class="fancybox" rel="works"  href="#"><i class="fa fa-eye fa-lg"></i></a> -->
                        <a href="#"><i class="fa fa-arrow-right"></i></a>
                        <!-- <h4>STREAMING</h4> -->
                        <p>Description</p>
                    </figcaption>
                </figure>
                
                <figure class="mix work-item nodes">
                    <img src="img/works/item-3.jpg" alt="">
                    <figcaption class="overlay">
                        <!-- <a class="fancybox" rel="works" href="#"><i class="fa fa-eye fa-lg"></i></a> -->
                        <a href="#"><i class="fa fa-arrow-right"></i></a>
                        <!-- <h4>STORAGE</h4> -->
                        <p>Description</p>
                    </figcaption>
                </figure>
                
                <figure class="mix work-item sdk">
                    <img src="img/works/item-4.jpg" alt="">
                    <figcaption class="overlay">
                        <!-- <a class="fancybox" rel="works"  href="#"><i class="fa fa-eye fa-lg"></i></a> -->
                        <a href="#"><i class="fa fa-arrow-right"></i></a>
                        <!-- <h4>SDK VERSION 1, 2, 3</h4> -->
                        <p>Description</p>
                    </figcaption>
                </figure>
            
                <figure class="mix work-item sdk">
                    <img src="img/works/item-5.jpg" alt="">
                    <figcaption class="overlay">
                        <!-- <a class="fancybox" rel="works"  href="#"><i class="fa fa-eye fa-lg"></i></a> -->
                        <a href="#"><i class="fa fa-arrow-right"></i></a>
                        <!-- <h4>SDK USAGE</h4> -->
                        <p>Description</p>
                    </figcaption>
                </figure>
                <figure class="mix work-item bounty">
                    <img src="img/works/item-6.jpg" alt="">
                    <figcaption class="overlay">
                        <!-- <a class="fancybox" rel="works"  href="#"><i class="fa fa-eye fa-lg"></i></a> -->
                        <a href="#"><i class="fa fa-arrow-right"></i></a>
                        <!-- <h4>STORAGE NODE EXPLORER</h4> -->
                        <p>Description</p>
                    </figcaption>
                </figure>
                <figure class="mix work-item bounty">
                    <img src="img/works/item-7.jpg" alt="">
                    <figcaption class="overlay">
                        <!-- <a class="fancybox" rel="works"  href="#"><i class="fa fa-eye fa-lg"></i></a> -->
                        <a href="#"><i class="fa fa-arrow-right"></i></a>
                        <!-- <h4>STREAMING NODE EXPLORER</h4> -->
                        <p>Description</p>
                    </figcaption>
                </figure>
                <figure class="mix work-item bounty">
                    <img src="img/works/item-8.jpg" alt="">
                    <figcaption class="overlay">
                        <!-- <a class="fancybox" rel="works"  href="#"><i class="fa fa-eye fa-lg"></i></a> -->
                        <!-- <h4>SDK DEVELOPMENT</h4> -->
                        <p>Description</p>
                    </figcaption>
                </figure>
                
            </div>
        </div>
    </div>
    
    


</section>
    