<section id="earlyaccess" class="works clearfix">

    <div class="container">

        <div class="row">
            <div class="sec-title text-center" >
                <h2 style="color:#101636 !important;" >Public Chain Test Network Early Access</h2>
            </div>
        </div>

        <ul class="tabs">
            <li class="tab-link current" data-tab="tab-1">Test Network Nodes</li>
            <li class="tab-link" data-tab="tab-2">SDKS</li>
            <li class="tab-link" data-tab="tab-3">Projects and Bounty Programs</li>
        </ul>
    
        <div id="tab-1" class="tab-content current">
            <ul class="tab-content-lst text-center">
                <li>
                    <a href="/node-blockchain"><img src="img/nodes/blockchain.png" alt=""></a>
                    <h3><a href="/node-blockchain">BLOCKCHAIN</a></h3>
                </li>
                <li>
                    <a href="/node-blockchain"><img src="img/nodes/box.png" alt=""></a>
                    <h3><a href="/node-blockchain">STORAGE</a></h3>
                </li>
                <li>
                    <a href="/node-blockchain"><img src="img/nodes/wifi.png" alt=""></a>
                    <h3><a href="/node-blockchain">STREAMING</a></h3>
                </li>
                <li>
                    <a href="/node-blockchain"><img src="img/nodes/supercontracts.png" alt=""></a>
                    <h3><a href="/node-blockchain">SUPER CONTRACTS</a></h3>
                </li>
            </ul>
        </div>
        <div id="tab-2" class="tab-content">
            <ul class="tab-content-lst text-center">
                <li>
                    <a href="https://github.com/proximax-storage/java-xpx-catapult-sdk/wiki" target="_blank"><img src="img/nodes/v3.png" alt=""></a>
                    <h3><a href="https://github.com/proximax-storage/java-xpx-catapult-sdk/wiki" target="_blank">XPX Java SDK</a></h3>
                </li>
                <li>
                    <a href="https://github.com/proximax-storage/php-xpx-catapult-sdk/wiki" target="_blank"><img src="img/nodes/v1.png" alt=""></a>
                    <h3><a href="https://github.com/proximax-storage/php-xpx-catapult-sdk/wiki" target="_blank">XPX PHP SDK</a></h3>
                </li>
                <li>
                    <a href="https://github.com/proximax-storage/tsjs-xpx-catapult-sdk/wiki" target="_blank"><img src="img/nodes/v2.png" alt=""></a>
                    <h3><a href="https://github.com/proximax-storage/tsjs-xpx-catapult-sdk/wiki" target="_blank">XPX TSJS SDK</a></h3>
                </li>
                <li>
                    <a href="https://github.com/proximax-storage/go-xpx-catapult-sdk/wiki" target="_blank"><img src="img/nodes/go.png" alt=""></a>
                    <h3><a href="https://github.com/proximax-storage/go-xpx-catapult-sdk/wiki" target="_blank">XPX Go SDK</a></h3>
                </li>
                <li>
                    <a href="https://github.com/proximax-storage/python-xpx-catapult-sdk/wiki" target="_blank"><img src="img/nodes/python.png" alt=""></a>
                    <h3><a href="https://github.com/proximax-storage/python-xpx-catapult-sdk/wiki" target="_blank">XPX Python SDK</a></h3>
                </li>
            </ul>
        </div>
        <div id="tab-3" class="tab-content">
            <ul class="tab-content-list text-center">
                
                <li>
                    <h3><a href="/node-blockchain">ProximaX Sirius Wallet<i class="fa fa-arrow-right"></i></a></h3>
                </li>
                <li>
                    <h3><a href="/node-blockchain">Simple Point of Sale using ProximaX Sirius Blockchain<i class="fa fa-arrow-right"></i></a> </h3>
                </li>
                <li>
                    <h3><a href="/node-blockchain">Test Network Faucet Bot<i class="fa fa-arrow-right"></i></a></h3>
                </li>
                <li>
                    <h3><a href="/node-blockchain">NIS1 to NIS2 Burn/Swap project <i class="fa fa-arrow-right"></i></a></h3>
                </li>
            </ul>
            
        </div>
    
    </div>
</section>
    