<section id="contact" class="checkemail" >
    <div class="container">
         <div class="row">
               <div class="sec-title text-center" >
                   <img src="img/underconstruction.png" alt="">
               </div>
           </div>
       <!-- <div class="row">
       
        <div class="col-lg-6">
            <div class="email wow fadeInDown animated" data-wow-duration="500ms">
                    <img src="img/proximax_logo.png" alt="">
                    <h2>Public Chain Rollout Early Access</h2>
                    <p>Interested to know more about ProximaX? Leave us your details and we’ll get in touch with to you. Alternatively, email us at <i>info@ProximaX.io.</i></p>
            </div>
        </div>
             <div class="col-lg-6 wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="300ms">
             <div class="email-form text-center">
                 <h2>SUBSCRIBE TO GET EARLY ACCESS</h2>
                <form action="#" id="email-form" class="form-proper text-center">
                   <div class="input-group name-email">
                      <div class="input-field">
                            <input type="email" name="email" id="email" placeholder="Email" class="form-control" required>
                            <i class="fa fa-envelope"></i>
                      </div>
                   </div>
                   <div class="input-group">
                        <div class="input-field">
                            <input type="text" name="address" id="address" placeholder="NIS1 NEM Address" class="form-control" required>
                        </div>
                   </div>
                        <button id="subscribe" class="btnsave" onClick="save()">SUBSCRIBE</button>
                </form>

             </div>
          </div>
       </div> -->
    </div>
    
 </section>