<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
        
            <div class="col-md-5 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms">
                <div class="footer-single">
                    <img src="img/footer-logo.png" alt="">
                    <p>Proximax is a next generation platform solution with an Integrated and Distributed Ledger Technology (IADLT). The ProximaX Platform is an integrated assembly of proven technologies for enterprises to develop applications with superior design while substantially reducing the total cost of ownership and time to market.</p>
                    <br>
                    <h5><a href="https://proximax.io"><b>www.proximax.io</b></a></h5> 
                </div>
            </div>
        
            <div class="col-md-2 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
                
            </div>
            <div class="col-md-2 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
                <div class="footer-single">
                    <h6>Connect</h6>
                    <ul>
                        <li><a href="#"><i class="fa fa-slack"></i>  Slack</a></li>
                        <li><a href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i>  Telegram</a></li>
                        <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i>  Github</a></li>
                    </ul>
                </div>
            </div>
        
            <div class="col-md-3 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
                <div class="footer-single">
                    <h6>Support</h6>
                    <ul>
                        <li><a href="#">Guides</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help Center</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="copyright text-center">
                    Copyright © 2019 <a href="http://proximax.io">ProximaX Pty. Ltd.</a>. All rights reserved.</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<a href="javascript:void(0);" id="back-top"><i class="fa fa-angle-up fa-3x"></i></a>