<!-- Start Section -->
<div class="section footer-section footer-salvia section-pad-sm" style="background-color:#272727;">
    <div class="container">
        <div class="row text-center text-sm-left">
            
            
            <div class="col-lg-4">
                <div class="widget-item">
                    <div class="widget-about">
                        <a href="#" class="widget-logo"><img src="images/logo-white.png" srcset="images/logo-white2x.png" alt="logo"></a>
                        <p>ProximaX is a next-generation Integrated and Distributed Ledger Technology (“IaDLT”) infrastructure platform solution powered by blockchain technology.</p>
                        <ul class="social-link-exp">
                            <li><a href="#"><em class="fab fa-facebook-f"></em></a></li>
                            <li><a href="#"><em class="fab fa-twitter"></em></a></li>
                            <li><a href="#"><em class="fab fa-medium-m"></em></a></li>
                            <li><a href="#"><em class="fab fa-github"></em></a></li>
                            <li><a href="#"><em class="fab fa-bitcoin"></em></a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- .col -->
            <div class="col-lg-4 col-md-4 col-sm-3">
                <div class="widget-item">
                    <h5 class="widget-title">Resources</h5>
                    <ul class="widget-links">
                        <li><a href="#">Documentations</a></li>
                        <li><a href="#">SDKs</a></li>
                        <li><a href="#">Market Research</a></li>
                    </ul>
                </div>
            </div><!-- .col -->
            <div class="col-lg-4 col-md-4 col-sm-3">
                <div class="widget-item">
                    <h5 class="widget-title">Useful Links</h5>
                    <ul class="widget-links">
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Use</a></li>
                    </ul>
                </div>
            </div><!-- .col -->
        </div><!-- .row -->
        <div class="gaps size-1x d-none d-lg-block"></div>
        <div class="footer-bottom">
            <ul class="footer-list text-center">        
                <li>&copy; All rights reserved<a href="http://proximax.io/"> ProximaX</a> 2019</li>
            </ul>
        </div>
    </div><!-- .container -->
</div>
<!-- End Section -->


<!-- Preloader !remove please if you do not want -->
<div id="preloader">
    <div id="loader"></div>
    <div class="loader-section loader-top"></div>
       <div class="loader-section loader-bottom"></div>
</div>
<!-- Preloader End -->

<!-- JavaScript (include all script here) -->
<script src="assets/js/jquery.bundle.js?ver=142"></script>
<script src="assets/js/script.js?ver=142"></script>