<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ProximaX Sirius Public Chain Test Network Early Access</title>
    <meta property="og:title" content="ProximaX Sirius Public Chain Test Network Early Access" />
    <meta property="og:description" content="ProximaX is a next-generation Blockchain project. It is an Integrated and Distributed Ledger Technology (IaDLT) with utility-rich, industry-standard services and protocols. Its mainstay, the ProximaX Sirius platform, includes a blockchain layer, decentralised file management system and storage layer, decentralised and immutable database layer, and P2P multimedia streaming and messaging layer."/>
    <meta property="og:url" content="https://proximax.io/" />

    
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
	<!-- Vendor Bundle CSS -->
	<link rel="stylesheet" href="assets/css/vendor.bundle.css?ver=142">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="assets/css/style.css?ver=142">
	<link rel="stylesheet" href="assets/css/theme-blue.css?ver=142">
</head>