<!-- Start Section -->
<div class="section section-pad overlay-shape section-bg" id="overview">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="animated" data-animate="fadeInUp" data-delay=".1">The ProximaX Sirius Architecture</h1>
                <p class="lead animated" data-animate="fadeInUp" data-delay=".3">The winning combination of Blockchain-Storage-Streaming-Database-Consensus is the success DNA of the ProximaX Sirius development platform. This powerful platform comes with built-in advanced features such as Super Contracts (estimated release Q4, 2019), multisig, multilayer-multisig, pull transactions, aggregated transactions and cross-chain ability. Development is greatly simplified and becomes rapid through the abstraction layer comprising API and SDKs available in a wide range of languages such as TSJS, Java, CSharp, Swift, Dart, CLI, Golang, CPP, PHP, Rust and Python.

                </p>
            </div>
            <div class="row justify-content-center" style="margin-top:5%;">
                <div class="col-lg-3 col-md-6 res-m-bttm-lg">
                    <div class="icon-box animated" data-animate="fadeInUp" data-delay=".3">
                        <div class="icon-box-img">
                            <img src="images/salvia/blockchain.png" alt="icon">
                        </div>
                        <h5>Blockchain</h5>
                        <p>This layer powers the entire ecosystem and provides the source of data that interconnects with other layers in either a public or private environment.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 res-m-bttm-lg">
                    <div class="icon-box animated" data-animate="fadeInUp" data-delay=".4">
                        <div class="icon-box-img">
                            <img src="images/salvia/streaming.png" alt="icon">
                        </div>
                        <h5>Streaming</h5>
                        <p>Utilising PeerStream Protocol (“PSP”), for high security, high performance, real-time messaging, and streaming service, users will be able to utilise fully anonymous, end-to-end encrypted, messaging, and anonymous video streaming.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="icon-box animated" data-animate="fadeInUp" data-delay=".5">
                        <div class="icon-box-img">
                            <img src="images/salvia/storage.png" alt="icon">
                        </div>
                        <h5>Storage</h5>
                        <p>The ProximaX storage layer is deployed through a Distributed File Management System (“DFMS”) protocol which integrates directly with the blockchain layer.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="icon-box animated" data-animate="fadeInUp" data-delay=".5">
                        <div class="icon-box-img">
                            <img src="images/salvia/database.png" alt="icon">
                        </div>
                        <h5>Database</h5>
                        <p>The database layer consists of a technology stack that uses a document-based database (MongoDB) backed by Tendermint technology as its blockchain enforcement mechanism.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Section -->



<!-- Start Section -->
<div class="section section-pad section-bg-alt" id="documents">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-6 col-md-8">
                <div class="section-head-s8">
                    <h2 class="section-title-s8 animated" data-animate="fadeInUp" data-delay=".1">Documentation</h2>
                    <p class="lead animated" data-animate="fadeInUp" data-delay=".2">Find useful resources, guides and reference material for developers. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 res-m-bttm">
                <div class="document-item-s2 animated" data-animate="fadeInUp" data-delay=".3">
                    <div class="document-img-s2">
                        <img src="images/salvia/document-a.jpg" alt="document">
                    </div>
                    <div class="document-text">
                        <span class="document-info">White Paper</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 res-m-bttm">
                <div class="document-item-s2 animated" data-animate="fadeInUp" data-delay=".4">
                    <div class="document-img-s2">
                        <img src="images/salvia/document-b.jpg" alt="document">
                    </div>
                    <div class="document-text">
                        <span class="document-info">One Pager</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 res-m-bttm">
                <div class="document-item-s2 animated" data-animate="fadeInUp" data-delay=".5">
                    <div class="document-img-s2">
                        <img src="images/salvia/document-c.jpg" alt="document">
                    </div>
                    <div class="document-text">
                        <span class="document-info">Terms of Sales</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="document-item-s2 animated" data-animate="fadeInUp" data-delay=".6">
                    <div class="document-img-s2">
                        <img src="images/salvia/document-d.jpg" alt="document">
                    </div>
                    <div class="document-text">
                        <span class="document-info">Privacy &amp; Policy</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Section -->

<!-- Start Section -->
<div class="section section-pad overlay-shape section-bg" id="sdk">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-6 col-md-8">
                <div class="section-head-s8">
                    <h2 class="section-title-s8 animated" data-animate="fadeInUp" data-delay=".1">SDKs</h2>
                    <p class="lead animated" data-animate="fadeInUp" data-delay=".2">Develop real-live solutions using ProximaX Sirius Blockchain Technology</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-4 col-lg-4 res-m-btm animated" data-animate="fadeInUp" data-delay=".3">
                
                    <div><img src="images/salvia/dart.png" alt="prdouct"></div>
                
            </div>
            <div class="col-sm-4 col-lg-4 animated" data-animate="fadeInUp" data-delay=".4">
                
                    <div><img src="images/salvia/js.png" alt="prdouct"></div>
                
            </div>
            <div class="col-sm-4 col-lg-4 animated" data-animate="fadeInUp" data-delay=".4">
                
                    <div><img src="images/salvia/swift.png" alt="prdouct"></div>
            </div>
            <div class="col-sm-4 col-lg-4 animated" data-animate="fadeInUp" data-delay=".4">
                
                    <div><img src="images/salvia/python.png" alt="prdouct"></div>
            </div>
            <div class="col-sm-4 col-lg-4 animated" data-animate="fadeInUp" data-delay=".4">
                
                    <div><img src="images/salvia/java.png" alt="prdouct"></div>
            </div>
            <div class="col-sm-4 col-lg-4 animated" data-animate="fadeInUp" data-delay=".4">
                
                <div><img src="images/salvia/golang.png" alt="prdouct"></div>
        </div>
        </div>
    </div>
</div>
<!-- End Section -->


<!-- Start Section -->
<div class="section section-pad section-bg-alt" id="bounty">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-12 ">
                <div class="section-head-s8 text-center">
                    <h2 class="section-title-s8animated " data-animate="fadeInUp" data-delay=".1">Bounty Programs</h2>
                    <p class="lead animated" data-animate="fadeInUp" data-delay=".2">Participate in our bounty programs and get rewarded</p>
                 </div>
                 <div style="padding: 10px;margin-bottom:5px;background:white;">
                    <h4>ProximaX Sirius Wallet</h4>
                </div>
                <div style="padding: 10px;margin-bottom:5px;background:white;">
                    <h4>Simple Point of Sale using ProximaX Sirius Blockchain</h4>
                </div>
                <div style="padding: 10px;margin-bottom:5px;background:white;">
                    <h4>Test Network Faucet Bot</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Section -->

<!-- Start Section -->
<!-- <div class="section section-pad section-bg" id="faq">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-4 ">
                <div class="section-head-s8">
                    <h2 class="section-title-s8 animated" data-animate="fadeInUp" data-delay=".1">FAQs</h2>
                    <p class="lead animated" data-animate="fadeInUp" data-delay=".2">Below we’ve provided a bit of ICO, ICO Token, cryptocurrencies, and few others. If you have any other questions, please get in touch via email.</p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="accordion-s3 animated" data-animate="fadeInUp" data-delay=".3" id="accordion-1">
                    <div class="card active">
                        <div class="card-header">
                            <h5>
                                <a data-toggle="collapse" data-target="#collapse-1-1">
                                    What is ICO Crypto?<span class="plus-minus"><em class="fas fa-plus"></em><em class="fas fa-minus"></em></span>
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-1-1" class="collapse show" data-parent="#accordion-1">
                            <div class="card-body">
                                <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h5>
                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-2">
                                  What cryptocurrencies can I use to purchase?<span class="plus-minus"><em class="fas fa-plus"></em><em class="fas fa-minus"></em></span>
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-1-2" class="collapse" data-parent="#accordion-1">
                            <div class="card-body">
                                <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h5>
                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-3">
                                  How can I participate in the ICO Token sale?<span class="plus-minus"><em class="fas fa-plus"></em><em class="fas fa-minus"></em></span>
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-1-3" class="collapse" data-parent="#accordion-1">
                            <div class="card-body">
                                <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h5>
                                <a class="collapsed" data-toggle="collapse" data-target="#collapse-1-4">
                                  How do I benefit from the ICO Token?<span class="plus-minus"><em class="fas fa-plus"></em><em class="fas fa-minus"></em></span>
                                </a>
                            </h5>
                        </div>
                        <div id="collapse-1-4" class="collapse" data-parent="#accordion-1">
                            <div class="card-body">
                                <p>ICO Crypto - is unique platform; that is secure, smart and easy-to-use platform, and completely disrupting the way businesses raise capital.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- End Section -->


<!-- Start Section -->
<!-- <div class="section section-pad-sm partner-section section-bg-alt">
    <div class="container text-center">
        <h4 class="sub-heading animated" data-animate="fadeInUp" data-delay=".1">Our Partners</h4>
        <ul class="partner-list-s4 d-flex flex-wrap flex-md-nowrap align-items-center justify-content-center">
            <li class="animated" data-animate="fadeInUp" data-delay=".2"><a href="#"><img src="images/partner-xs-a.png" alt="partner"></a></li>
            <li class="animated" data-animate="fadeInUp" data-delay=".3"><a href="#"><img src="images/partner-xs-b.png" alt="partner"></a></li>
            <li class="animated" data-animate="fadeInUp" data-delay=".4"><a href="#"><img src="images/partner-xs-c.png" alt="partner"></a></li>
            <li class="animated" data-animate="fadeInUp" data-delay=".5"><a href="#"><img src="images/partner-xs-d.png" alt="partner"></a></li>
            <li class="animated" data-animate="fadeInUp" data-delay=".6"><a href="#"><img src="images/partner-xs-e.png" alt="partner"></a></li>
            <li class="animated" data-animate="fadeInUp" data-delay=".7"><a href="#"><img src="images/partner-xs-f.png" alt="partner"></a></li>
        </ul>
    </div>
</div> -->
<!-- End Section -->