<!--USE CASES-->
<section class="burger bg-gray" id="usecase" style="background-image:url('images/connect-light.png');background-size:cover;background-repeat: no-repeat;">
<div class="container text-center">
    <h2 class="mb5 wow fadeInUp text-center" data-wow-delay=".5s" data-wow-duration=".5s">Use Cases</h2>
    <h5 class="mb5 wow fadeInUp" style="font-size:1.5em;font-weight:normal;" data-wow-delay=".6s" data-wow-duration=".6s">Whether it is for verifying identity or to ascertain source of wealth, ProximaX KYC can assist your staff with performing their due diligence checks efficiently, securely, and in a cost-effective manner. The app is available as a white-label product, meaning it can be rebranded to make it appear as your own, and integrated as an add-on feature to your existing application. Its inbuilt form-builder and APIs for third-party RegTech integration means it can be easily and quickly customised for cross-industry use.  </h5>
    <img src="images/kyc/KYCUseCaseNoBG.png" alt="" class="usecase-image wow fadeInUp text-center" data-wow-delay=".7s" data-wow-duration=".7s" >
</div>
</section>