<!DOCTYPE html>
<html>
<% include ../partials/header %>

<body  data-target=".navbar" data-offset="82">
   <% include ../partials/nav %>
      
   <section id="bounty" class="works clearfix">

         <div class="container">
     
             <div class="row">
                 <div class="sec-title text-center" >
                 </div>
             </div>
         
             <div class="bounty">
                 <ul class="tab-content-lst text-center">
                     <li>
                         <h3><a href="https://github.com/proximax-storage/java-xpx-catapult-sdk/wiki" target="_blank">ProximaX Sirius Wallet</a></h3>
                         <p>Ends: </p>
                     </li>
                     <li>
                         <h3><a href="https://github.com/proximax-storage/csharp-xpx-catapult-sdk/wiki" target="_blank">Simple Point of Sale using ProximaX Sirius Blockchain</a></h3>
                     </li>
                     <li>
                         <h3><a href="https://github.com/proximax-storage/php-xpx-catapult-sdk/wiki" target="_blank">Test Network Faucet Bot</a></h3>
                     </li>
                 </ul>
             </div>
            
         </div>
     </section>

   <a href="javascript:void(0);" id="back-top"><i class="fa fa-angle-up fa-3x"></i></a>
   <% include ../partials/scripts %>
</body>
</html>