<!DOCTYPE html>
<html>
<% include ../partials/header %>

<body  data-target=".navbar" data-offset="82">
   <% include ../partials/nav %>
   <% include ../partials/home %>
   <% include ../partials/earlyaccess %>
   <% include ../partials/contact %>
   <% include ../partials/footer %>
   <% include ../partials/scripts %>
</body>
</html>