<!DOCTYPE html>
<html>
<% include ../partials/header %>

<body  data-target=".navbar" data-offset="82">
   <% include ../partials/nav %>
   <section id="earlyaccess" class="works clearfix">

    <div class="container">

        <div class="row">
            <div class="sec-title text-center" >
                <h2 style="color:#101636 !important;" >Coming Soon...</h2>
            </div>
        </div>
    </div>
</section>
   <a href="javascript:void(0);" id="back-top"><i class="fa fa-angle-up fa-3x"></i></a>


   <% include ../partials/scripts %>
</body>
</html>