<!DOCTYPE html>
<html>
<% include ../partials/header %>
<body  data-target=".navbar" data-offset="82" onload="initializeFirebase()">


      <div id="preloader">
         <img src="img/preloader.gif" alt="Preloader">
      </div>
         <!-- end preloader -->
         
         <!-- 
         Fixed Navigation
         ==================================== -->
         <!-- <header id="navigation2" class="navbar-fixed-top navbar">
            <div class="container">
                  <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars fa-2x"></i>
                     </button>
              
               
              
                     <a class="navbar-brand" href="#slider">
                  <h1 id="logo">
                     <img src="img/proximax_sirius_logo.png" alt="Brandi">
                  </h1>
               </a>
                  </div>
         
            
            </div>
         </header> -->
   <% include ../partials/emailform %>
   <!-- <footer id="footer" class="footer2">
               <p class=" text-center">
                     Copyright © 2019 <a href="https://proximax.io" target="_blank">ProximaX Pty. Ltd.</a>. All rights reserved.</a>
               </p>
   </footer> -->



   <% include ../partials/scripts %>
</body>
</html>